body {
    height: 100vh;
    margin: 0;
    text-align: center;
    width: 100%;
    align-items: center;
}

#center {
    display: flex;
    width: fit-content;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(0, -55%);
}

.header-img {
    height: 40%;
    min-width: 250px;
    min-height: 333.33px;
    margin:auto;
    background: url("assets/trimmings1-before.jpg") no-repeat;
    background-size: cover;
    transition: 2s linear;
}

#footer {
    margin-top: 20px;
}

.quote {
    padding: 5px;
    max-width: 40%;
    margin: auto;
    min-width: 300px;
}

.header-img:hover {
    background: url("assets/trimmings1-after.jpg") no-repeat;
    background-size: cover;
}

.header-img:active {
    background: url("assets/trimmings1-after.jpg") no-repeat;
    background-size: cover;
}